
body {
    background-color: #ddf3f7;
}


.users {
    float: left;
    background-color: #4a39f5;
	border-radius: 30px 0px 0px 30px;
    border-bottom: 1px outset black;
	border-left: 1px outset black;
	border-top: 1px outset black;
    position:absolute;
    top:120px;
    left: 220px;
    width: 280px;
    height: 550px;
    padding: 30px;
    overflow: auto;
    color: white;
    font-size: 20px;
}


.chatbox {
    float: left;
    background-color: #f7d412;
	border-radius: 0px 30px 0px 0px;
	border-top: 1px outset black;
	border-right: 1px outset black;
    position: absolute;
    top: 120px;
    left: 560px;
    width: 700px;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}


.conversationbox {
    background-color: white;
	border-right: 1px outset black;
    position: absolute;
    top: 180px;
    left: 560px;
    width: 660px;
    height: 420px;
    padding: 20px;
    overflow: auto;
    font-size:17px;
    text-align:justify;
}


.senddata {
    background-color: #fbf6f6;
	border-radius: 0px 0px 30px 0px;
	border-top: 1px outset white;
	border-right: 1px outset black;
	border-bottom: 1px outset black;
    position: absolute;
    top: 638px;
    left: 560px;
    width: 700px;
    height: 92px;
}

input[type=text] {
  width: 60%;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}





#data {
	border: 1px outset blue;
	border-radius: 10px;
    position: relative;
    left: 5px;
    width: 540px;
    height: 40px;
}



#uploadfile {
    position: relative;
    top: 5px;
    left: 5px;
}




#datasend {
	border: 1px;
	border-radius: 10px;
    position: relative;
    left: 10px;
    width: 130px;
    height: 43px;
    background-color: #4a39f5;
	color: white;
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
